@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 85%;
  max-width: 65rem;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  border-radius: 0.25rem;
  padding: 0.5rem 1.25rem;
  background: var(--clr-accent, blue);
  color: var(--clr-text, #fff);
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
}
.btn:hover, .btn:focus {
  transform: scale(1.1);
  opacity: 0.9;
}

.primary-title {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}